__pycache__/
build/
*.egg-info/
*.so
tmp*
trial*/

data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
.DS_Store
workspace/log_ngp.txt
.idea
models/face-parse-bisent/
models/musetalkV15/
models/sd-vae/
models/whisper/
models/vqvae.pth
*.log
dist
.env
